{% extends "layout.html" %}
{% block content %}
<!-- Home page container -->
<!-- The Modal -->
<div id="connectModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <label for="mongo-url">Connect to Mongo local/Atlas<span class="close" title="close">&times;</span></label>
      <input type="text" id="mongo-url" class="form-control" aria-describedby="emailHelp" placeholder="mongodb://Your-url/">
      <small class="form-text text-muted">We'll never share your credentials with anyone else.</small>
      <div>
          <div class="modal-error">
          </div>
          <button id="connect_mongo" type="button" class="btn btn-sm btn-outline-success">Connect</button>
          <img id="loading" src="{{ url_for('static', filename='images/circles-menu-1.gif') }}">
      </div>
  </div>
</div>

<!-- Export Modal pop-up -->
<div id="exportModal" class="modal">
    <!-- Export Modal content -->
    <div class="export-modal-content">
        <div class="export-top-bar">
            <span id="export-close" class="close" title="close">&times;</span>
            <button class="btn editor-buttons" type="button" title="Download in json format" onclick="download_query()"><i class="fas fa-download"></i></button>
            <button class="btn editor-buttons" type="button" title="copy to clipboard" onclick="copy()"><i class="fas fa-copy"></i></button>
            <p>Export Pipeline</p>
        </div>
        <textarea id="export-textarea-content" class="form-control" rows="15" readonly></textarea>
    </div>
</div>

<div class="editors">

    <!----------     Editor 1 section   ---------->
    <div class="editor">
        <div class="row">
            <div id="button-group1" class="col editor-menu-top">
                <div class="btn-group btn-group-sm editor-button-group" role="group">
                    <button class="btn editor-buttons" type="button" title="convert to json form" onclick="convert()"><i class="fas fa-play"></i></button>
                    <button id="button-clear-editor1" class="btn editor-buttons" title="clear's the editor"><i class="fas fa-eraser"></i></button>
                </div>

                <!----------     db-connection bar buttons   ---------->
                <div class="btn-group btn-group-sm editor-button-group editor-button-group-connect" role="group">
                    <div class="dropdown">
                      <button id="dropdownSelectedCollectionButton" class="btn btn-sm editor-buttons dropdown-toggle editor-button-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select collection
                      </button>
                      <div class="editor-dropdown dropdown-menu dropdown-menu-right dropdown-collection" aria-labelledby="dropdownMenuButton">
                          <button class="btn-sm dropdown-item">Empty</button>
                      </div>
                    </div>
                    <div class="dropdown">
                      <button id="dropdownSelectedDbButton" class="btn btn-sm editor-buttons dropdown-toggle editor-button-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select db
                      </button>
                      <div class="editor-dropdown dropdown-menu dropdown-menu-right dropdown-db" aria-labelledby="dropdownMenuButton">
                          <button class="btn-sm dropdown-item">Empty</button>
                      </div>
                    </div>
                    <div class="btn-group">
                        <button id="button-connect" type="button" class="btn btn-sm editor-buttons dropdown-toggle dropdown-toggle-split editor-button-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="connect to mongo">
                            <i class="fas fa-database"></i>
                        </button>
                        <div class="editor-dropdown dropdown-menu dropdown-menu-right">
                            <button class="btn-sm dropdown-item connect" aria-disabled="true" onclick="connect_button()">Connect</button>
                            <button class="btn-sm dropdown-item disconnect" aria-disabled="true" onclick="disconnect_button()">Disconnect</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="editor1">COS(1.2)</div>
    </div>

    <!----------     Editor 2 section   ---------->
    <div class="editor">
        <div class="row">
            <div id="button-group2" class="col editor-menu-top">
                <div class="btn-group btn-group-sm editor-button-group" role="group">
                    <button id="indent-button-editor2" class="btn editor-buttons" title="Indent's the editor content" onclick="indent2()"><i class="fas fa-indent"></i></button>
                    <button id="button-clear-editor2" class="btn editor-buttons" title="clear's the editor"><i class="fas fa-eraser"></i></button>
                    <button class="btn editor-buttons" onclick="export_clipboard()" title="export the output"><i class="fas fa-file-export"></i></button>
                </div>
                <div class="btn-group btn-group-sm editor-button-group" role="group">
                    <button id="button-mongo-query" class="btn editor-buttons" title="mongo query">Query</button>
                    <button id="button-output" class="btn editor-buttons" title="easy-mql query output">Result</button>
                </div>
            </div>
        </div>
        <div id="editor2">{"boolean": true,"color": "gold","null": null,"number": {
    "boolean": true,
    "color": "gold",
    "null": null,
    "number": 123
}}</div>
    </div>

</div>

<!-- Footer - section -->
<div class="footer">
    <p>
        <a href="https://ace.c9.io/" target="_blank" rel="noopener noreferrer">Editors powered by Ace</a>
    </p>
</div>
{% endblock content %}
