{% extends "layout.html" %}
{% block content %}
<!-- Home page container -->
<!-- The Modal -->
<div id="connectModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <label for="mongo-url">Connect to Mongo local/Atlas<span class="close" title="close">&times;</span></label>
      <input type="text" id="mongo-url" class="form-control" aria-describedby="emailHelp" placeholder="mongodb://Your-url/">
      <!-- <small class="form-text text-muted">We'll never share your credentials with anyone else.</small> -->
      <div>
          <div class="modal-error">
          </div>
          <button id="connect_mongo" type="button" class="btn btn-sm btn-outline-success">Connect</button>
          <img id="loading" src="{{ url_for('static', filename='images/circles-menu-1.gif') }}">
      </div>
  </div>
</div>

<!-- Export Modal pop-up -->
<div id="exportModal" class="modal">
    <!-- Export Modal content -->
    <div class="export-modal-content">
        <div class="export-top-bar">
            <span id="export-close" class="close" title="close">&times;</span>
            <button class="btn editor-buttons" type="button" title="Download in json format" onclick="download_query()"><i class="fas fa-download"></i></button>
            <button class="btn editor-buttons" type="button" title="copy to clipboard" onclick="copy()"><i class="fas fa-copy"></i></button>
            <p>Export Pipeline</p>
        </div>
        <textarea id="export-textarea-content" class="form-control" rows="15" readonly></textarea>
    </div>
</div>

<div class="editors">

    <!----------     Editor 1 section   ---------->
    <div class="editor">
        <div class="editor-button-panel">
            <div id="conn-button-container" class="editor-button-container">
                <button id="conn-button" class="editor-button conn-button" title="Run query">Connect</button>

                <div id="db-dropdown">
                    <button id="db-dropdown-button" class="editor-button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Db</button>
                    <div id="db-dropdown-menu" class="dropdown-menu" aria-labelledby="db-dropdown-button">
                        <button class="dropdown-item">Empty</button>
                    </div>
                </div>

                <div id="coll-dropdown">
                    <button id="coll-dropdown-button" class="editor-button dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Coll</button>
                    <div id="coll-dropdown-menu" class="dropdown-menu" aria-labelledby="coll-dropdown-button">
                        <button class="dropdown-item">Empty</button>
                    </div>
                </div>
            </div>

            <div id="action-button-container" class="editor-button-container">
                <button id="run-button" class="editor-button run-button" title="convert to json form">Run</button>
                <button id="clear-button" class="editor-button" title="clear's the editor">Clear</button>
            </div>
        </div>
        <div id="editor1" class="editor-box"></div>
    </div>

    <!----------     Editor 2 section   ---------->
    <div class="editor">
        <div class="editor-button-panel">
            <div id="button-group2" class="editor-button-container">
                <div class="editor2-buttons">
                    <button id="indent-button" class="editor-button" title="Indent's the editor content" onclick="indent2()">Indent</button>
                    <button id="export-button" class="editor-button" onclick="export_clipboard()" title="export the output">Export</button>
                </div>
                <div class="editor2-button-group">
                    <button id="button-mongo-query" class="editor-button" title="mongo query">Query</button>
                    <button id="button-result" class="editor-button" title="easy-mql query output">Result</button>
                </div>
            </div>
        </div>
        <div id="editor2" class="editor-box"></div>
    </div>

</div>
{% endblock content %}
