* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px;
}

/*---  header-section ----*/
.bg-heading {
  background: rgb(2,0,36);
  background: linear-gradient(149deg, rgba(2,0,36,1) 0%, rgba(9,71,121,1) 100%, rgba(189,0,255,1) 100%);  
  box-shadow: 0px 4px 8px 0px rgba(2, 0, 36, 0.4);
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-header {
    line-height: .5rem;
}
/*---  header-section-end ----*/

/*--- Pop over mongo connection window section ----*/
.modal {
  display: none; /* Hidden by default */
  padding: 10% 0 0 0; /* Location of the box */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.4rem;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animateconnect;
  -webkit-animation-duration: 0.4s;
  animation-name: animateconnect;
  animation-duration: 0.4s;
}

@media only screen and (max-width: 790px) {
    .modal-content {
        width: 80%;
    }

    .modal {
        padding: 30% 0 0 0; /* Location of the box */
    }
}

/* Add Animation to mongo connection modal */
@-webkit-keyframes animateconnect {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animateconnect {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  margin-left: 1rem;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content button {
    width: max-content;
    margin-top: 5px;
}

.modal-content img {
  visibility: hidden;
  width: 20px;
}

.modal-error p {
    margin: 0px;
    color: red;
    font-size: 11px;
}
/*--- Pop over mongo connection window section ----*/

/*--- Pop over export section ----*/

.export-modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: .3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetopexport;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetopexport;
  animation-duration: 0.4s;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}

@media only screen and (max-width: 790px) {
    .export-modal-content {
        width: 80%;
    }
}

/* Add Animation to mongo connection modal */
@-webkit-keyframes animatetopexport {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetopexport {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.export-top-bar {
  margin: 2px 0;
}

.export-top-bar button {
    float: right;
}

.export-top-bar p {
  margin: 0;
}

.export-modal-content textarea {
    width: 100%;
    font-size: 12px;
}

/*--- Pop over export section end ----*/

/*---  Editor-section   -------*/

#editor1, #editor2 {
  flex: 1 1 auto;
  line-height: 1.5;
  border: 1px solid #d1d5da;
  border-radius: 0 0 4px 4px;
  margin-top: 10px;
}

.editors {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 5px 5px 0 5px;
  min-height: 0px;
}

@media only screen and (max-width: 790px) {
    .editors {
        flex-direction: column;
    }
}

.editor {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 5px 5px 0 5px;
  min-width: 0px;
}

.editor-buttons {
    color: #393e46;
    line-height: 1.1rem !important;
}

.editor-buttons:hover {
    background-color: #393e46;
    color: #f7f7f7;
}

#editor1 .ace_gutter {
  background-color: #FFF59D;
}

.editor2-buttons {
  display: flex;
}

#editor2 .ace_gutter {
  background-color: #FFF59D;
}

#indent-button  {
  margin-left: 0px;
  background-color: steelblue;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(0,128,0,0.4);
}

#indent-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(0,128,0,0.4);
}

#export-button {
  background-color: darkcyan;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(0,128,0,0.4);
}

#export-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(0,128,0,0.4);
}

.editor2-button-group {
  display: flex;
  margin-left: 10px;
  border-radius: 6px;
  box-shadow: 4px 4px 8px 0px rgba(0,128,0,0.4);
  align-items: end;
}

.editor2-button-group button {
  margin-left: 0;
}

#button-mongo-query {
  color: white;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  background-color: darkseagreen;
}

#button-result {
  color: white;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  background-color: seagreen;
}
.editor-button {
  background-color: white;
  border-radius: 6px;
  border: none;
  height: 25px;
  min-width: 70px;
  margin-left: 10px;
  font-size: 10pt;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0, 0.1);
  text-align-last: center;
}

.editor-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(darken(dodgerblue, 40%));
  transform: scale(1.05);
}
.editor-button:active {
    box-shadow: 4px 1px 8px 0px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}

.editor-button:focus {
  outline: none;
}

#run-button {
  margin-left: 0px;
  background-color: green;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(0,128,0,0.4);
}

#run-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(0,128,0,0.4);
}

#clear-button {
  background-color: white;
  box-shadow: 4px 4px 8px 0px rgba(0,0,0, 0.1);
}

#clear-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(0,0,0, 0.1);
}

#editor1 {
  background-color: #FFFDE7;;
  box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2); 
}

#editor2 {
  background-color: #FFFDE7;;
  box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
}

.conn-button {
  background-color: green;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(0,128,0,0.4);
}

.conn-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(0,128,0,0.4);
}

.disconn-button {
  background-color: #f44336;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(244, 67, 54, 0.4);
}

.disconn-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(244, 67, 54, 0.4);
}

#db-dropdown-button {
  background-color: #FFA726;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(255, 167, 38,0.4);
}

#db-dropdown-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(255, 167, 38,0.4);
}

#coll-dropdown-button {
  background-color: #AB47BC;
  color: white;
  box-shadow: 4px 4px 8px 0px rgba(171, 71, 188,0.4);
}

#coll-dropdown-button:hover {
  box-shadow: 4px 4px 16px 0px rgba(171, 71, 188,0.4);
}

.editor-button-panel {
  display: flex;
}

.editor-button-container {
  display: inline-flex;
}

#action-button-container {
  float: left;
}

#conn-button-container {
  flex-grow: 1;
  justify-content: flex-end;
}

.dropdown-item {
  height: 25px;
}

.dropdown-menu {
  font-size: 10pt;
  padding: 2px 0 2px 0;
  min-width: 5rem;
}

@media screen and (max-width: 420px) {
  #action-button-container {
    margin-bottom: 10px;
  }

  #conn-button {
    margin-left: unset;
  }

  .export-modal-content {
    width: 95%;
  }

  .modal-content {
    width: 95%;
  }

  #conn-button-container {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .editor-button-panel {
    flex-direction: column;
  }
}

/*---  Editor-section-end   -------*/

/* Footer-section */
.footer p {
  text-align: end;
  margin: 0 1% 0 0;
  padding: 0 0 .1rem 0;
}

.footer a {
  font-size: 11px;
}

.footer-link {
  float: right;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 10px;
}
