
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0px;
}

/*---  header-section ----*/
.bg-heading {
    background-color: #393e46;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.site-header {
    line-height: .5rem;
}
/*---  header-section-end ----*/

/*--- Pop over mongo connection window section ----*/
.modal {
  display: none; /* Hidden by default */
  padding: 10% 0 0 0; /* Location of the box */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.4rem;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animateconnect;
  -webkit-animation-duration: 0.4s;
  animation-name: animateconnect;
  animation-duration: 0.4s;
}

/* Add Animation to mongo connection modal */
@-webkit-keyframes animateconnect {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animateconnect {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #aaaaaa;
  margin-left: 1rem;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content button {
    width: max-content;
    margin-top: 5px;
}

.modal-content img {
  visibility: hidden;
  width: 20px;
}

.modal-error p {
    margin: 0px;
    color: red;
    font-size: 11px;
}
/*--- Pop over mongo connection window section ----*/

/*--- Pop over export section ----*/

.export-modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: .3rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetopexport;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetopexport;
  animation-duration: 0.4s;
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}

/* Add Animation to mongo connection modal */
@-webkit-keyframes animatetopexport {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetopexport {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.export-top-bar {
  margin: 2px 0;
}

.export-top-bar button {
    float: right;
}

.export-top-bar p {
  margin: 0;
}

.export-modal-content textarea {
    width: 100%;
    font-size: 12px;
}

/*--- Pop over export section end ----*/

/*---  Editor-section   -------*/

#editor1, #editor2 {
  flex: 1 1 auto;
  line-height: 1.5;
  border: 1px solid #d1d5da;
  border-radius: 0 0 4px 4px;
}

.editors {
  display: flex;
  flex: 1;
  width: 100%;
  padding: 5px 5px 0 5px;
  min-height: 0px;
}

@media only screen and (max-width: 790px) {
    .editors {
        flex-direction: column;
    }
}

.editor {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 5px 5px 0 5px;
  min-width: 0px;
}

.editor .row {
  margin: 0;
}

.editor-menu-top {
    border-color: #929aab !important;
    background-color: #929aab;
    border-radius: 4px 4px 0 0;
}

.editor-dropdown {
    padding: .1rem 0;
}

.editor-button-group {
    margin: .5% .5%;
    line-height: 1.1rem;
}

.editor-button-group-connect {
    float: right;
}

.editor-buttons {
    color: #393e46;
    line-height: 1.1rem !important;
    border-radius: 0 !important;
}

.editor-buttons:hover {
    background-color: #393e46;
    color: #f7f7f7;
}

.editor-button-dropdown:focus {
    box-shadow: 0 0 0 0rem rgb(57, 62, 70);
}
/*---  Editor-section-end   -------*/

/* Footer-section */
.footer p {
    text-align: end;
    margin: 0 1% 0 0;
    padding: 0 0 .1rem 0;
}

.footer a {
    font-size: 11px;
}
