{% extends "layout.html" %}
{% block content %}
<div class="container" style="margin-top: 1rem;">
        <h5><strong>Documentation</strong></h5>
        <p><a href="https://vivek-shrikhande.github.io/easy-mql/" target="_blank">EasyMQL documentation</a></p>
        <h5><strong>Version</strong></h5>
        <p>1.0.0</p>
        <h5><strong>License</strong></h5>
        <p><a href="https://github.com/PrashantSakre/easy-mql-webtool/blob/main/LICENSE" target="_blank">MIT</a></p>
</div>
{% endblock content %}